<%= form_for(bicycle) do |f| %>
  <% if bicycle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bicycle.errors.count, "error") %> prohibited this bicycle from being saved:</h2>

      <ul>
      <% bicycle.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <%= f.label :name %>:
    <%= f.text_field :name %>
    <br>
    <br>
    <%= f.label :description %>
    <%= f.text_area :description %>
    <br>
    <br>
    <%= f.label :price %>
    <%= f.text_field :price   %>
    <br>
    <br>

          <%= f.label :style %><br />
    <%= f.select :style_id, Style.all.collect { |s| [ s.name, s.id ] } %>

    <br> <br>
      <%= f.label :image_link , "Upload Image "%><br>
      <%= f.file_field :image_link %>
    <br> <br>
    <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
