

<%= render 'header' %>


<!-- Products section -->
<section id="aa-product">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="aa-product-area">
            <div class="aa-product-inner">
              <!-- start prduct navigation -->
              <ul class="nav nav-tabs aa-products-tab">
                <li class="active"><a href="#men" data-toggle="tab">Bicycles</a></li>

              </ul>
              <!-- Tab panes -->
              <div class="tab-content">
                <!-- Start men product category -->
                <div class="tab-pane fade in active" id="men">
                  <ul class="aa-product-catg">
                    <!-- start single product item -->
                    <% @bicycles.each do |bicycle| %>
                    <li>
                      <figure>
                        <a class="aa-product-img" href="#"><img height="300" width="250" src="<%= bicycle.image_link %>" ></a>
                        <%= link_to raw('<span class="fa fa-shopping-cart"></span>View Details'), bicycle , {class: 'aa-add-card-btn'}%>

                        <figcaption>
                          <h4 class="aa-product-title"><p ><%= bicycle.name %> (<%= bicycle.style.name %> )</p></h4>
                          <span class="aa-product-price"><%= number_to_currency(bicycle.price,:delimiter => ".", :separator => ",") %></span>
                        </figcaption>
                      </figure>
                      <div class="aa-product-hvr-content">
                          <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" data-toggle="modal" data-target="#quick-view-modal-<%= bicycle.id %>"><span class="fa fa-search"></span></a>
                      </div>

                    </li>


                        <!-- quick view modal -->
                        <div class="modal fade" id="quick-view-modal-<%= bicycle.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-body">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <div class="row">
                                  <!-- Modal view slider -->
                                  <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="aa-product-view-slider">
                                      <div class="simpleLens-gallery-container" id="demo-1">
                                        <div class="simpleLens-container">
                                          <div class="simpleLens-big-image-container">
                                            <a class="simpleLens-lens-image" data-lens-image="<%= bicycle.image_link %>">
                                              <img height="300" width="250" src="<%= bicycle.image_link %>" class="simpleLens-big-image">
                                            </a>
                                          </div>
                                        </div>

                                      </div>
                                    </div>
                                  </div>
                                  <!-- Modal view content -->
                                  <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="aa-product-view-content">
                                      <h3 style="color: #b3aeae"><%= bicycle.name %></h3>
                                      <div class="aa-price-block">
                                        <span style="color:  #ff6666" class="aa-product-view-price"><%= number_to_currency(bicycle.price,:delimiter => ".", :separator => ",") %></span>

                                      </div>
                                      <p>Click On View Details To See Description</p>


                                      <div class="aa-prod-quantity">
                                        <p class="aa-prod-category">
                                          Style: <p style="color: #ce7945"><%= bicycle.style.name %></p>
                                        </p>
                                      </div>
                                      <div class="aa-prod-view-bottom">
                                        <%= link_to 'View Details', bicycle , {class: 'aa-add-to-cart-btn'}%>

                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div><!-- /.modal-content -->
                          </div><!-- /.modal-dialog -->
                        </div><!-- / quick view modal -->
                    <% end %>

                  </ul>

                </div>
                <!-- / men product category -->

              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- / Products section -->

<%= render 'footer' %>
