<p id="notice"><%= notice %></p>
<%= render 'admin_pages/logout' %>
<div class="container">
  <table class="table">
    <tr>
    <th>id</th>
    <th>name</th>
      <th>edit</th>
    </tr>

    <tr>
      <td><%= @style.id %></td>
      <td><%= @style.name %></td>
      <td><%= link_to 'Edit', edit_style_path(@style) %></td>
    </tr>
  </table>

</div>

 |
<%= link_to 'Back', admin_pages_index_path %>
