
<%= render 'logout' %>
<div class="container">

<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Styles</div>
  <div class="panel-body">
    <%= link_to "Create" , "/styles/new" , :method => 'get' ,  class:  'btn btn-success'%>

  </div>

  <!-- Table -->
  <table class="table">
  <tr>
    <th>id</th>
    <th>name</th>
    <th>show</th>
    <th>edit</th>
    <th>delete</th>
  </tr>
    <% @styles.each do |style| %>
        <tr>
          <td><%= style.id %></td>
          <td> <%= style.name %></td>
          <td><%= link_to 'Show', style %></td>
          <td><%= link_to 'Edit', edit_style_path(style) %></td>
          <td><%= link_to 'Destroy', style, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
    <% end %>


  </table>
</div>
</div>

<hr>

<div class="container">

  <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">bicycles</div>
    <div class="panel-body">
      <%= link_to "Create" , "/admins/sign_out" , :method => 'get' ,  class:  'btn btn-success'%>
    </div>

    <!-- Table -->
    <table class="table">
      <tr>
        <th>id</th>
        <th>name</th>
      </tr>
      <tr><td>1</td> <td>rock</td></tr>

    </table>
  </div>
</div>